footer {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(180, 180, 180);
}

footer h2,
p {
    margin-top: 8px;
}

.footerlogo {
    width: 200px;
    height: 75px;
    background-image: url(../imagens/logo1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}