@media screen and (max-width: 1024px) {
    .bgForm {
        height: auto;
        padding: 40px 0;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        background-size: cover;
    }
    .formContainer {
        height: auto;
        margin-right: 0;
    }
}

@media screen and (max-width: 510px) {
    .containerHeader {
        flex-direction: column;
        padding: 2% 0;
    }
    .logo1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .bgForm {
        padding: 40px 2%;
    }
}